.admin-layout {
  display: flex;
  background: linear-gradient(to bottom right, #8ec5ff, #bcdcff);
  min-height: 100vh;
  width: 100%;
}

/* Content section */
.content-area {
  margin-left: 260px;
  padding: 35px;
  width: calc(100% - 260px);
}

/* Page title */
.page-title {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 25px;
  color: #003a6f;
}
@media (max-width: 850px) {

  .sidebar {
    width: 180px;
  }

  .content-area {
    margin-left: 190px;
  }

  .pkg-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .report-grid {
    grid-template-columns: 1fr;
  }

  .big {
    grid-column: span 1;
  }
}
