/* Whole page background */
.admin-page {
  height: 100vh;
  width: 100%;
  background: #89c5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login card box */
.login-card {
  width: 380px;
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

/* Top Title */
.title {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #001c40;
  margin: 0;
}

.subtitle {
  text-align: center;
  font-size: 20px;
  color: #001c40;
  margin-bottom: 30px;
}

/* Labels */
label {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  display: block;
}

/* Inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 14px;
  margin-top: 5px;
  border: 1px solid #cdd2d8;
  border-radius: 8px;
  background: #f8f9fb;
  font-size: 15px;
}

/* Remember me row */
.remember-row {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.remember-row label {
  margin-left: 8px;
  font-weight: normal;
}

/* Login button */
.login-btn {
  width: 100%;
  padding: 14px;
  margin-top: 25px;
  background: #1485ff;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.login-btn:hover {
  background: #0f6ed3;
}

/* Forgot Password */
.forgot {
  text-align: center;
  margin-top: 15px;
  color: #0066cc;
  cursor: pointer;
}
