.pkg-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pkg-row {
  background: rgba(255, 255, 255, 0.85);
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 5px 14px rgba(0,0,0,0.12);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 16px;
}

.item label {
  font-size: 11px;
  color: #003a6f;
  font-weight: bold;
  margin-bottom: 4px;
}

.item input {
  height: 38px;
  border-radius: 8px;
  border: none;
  background: white;
  padding-left: 10px;
  font-weight: bold;
}

.save-btn {
  background: #007bff;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.save-btn:hover {
  background: #005ec7;
}
