.trade-box {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.trade-card {
  background: rgba(255, 255, 255, 0.92);
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 5px 14px rgba(0,0,0,0.15);
}

.trade-card h4 {
  font-size: 18px;
  font-weight: bold;
  color: #003a6f;
  margin-bottom: 15px;
}

.trade-content {
  display: flex;
  justify-content: space-between;
  color: #003a6f;
  font-weight: bold;
}
