.user-sidebar {
  width: 200px;
  height: 100vh;
  background: #8ac2f7;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.user-sidebar button {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  border: none;
  border-radius: 12px;
  background: #75b6f4;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.user-sidebar button:hover {
  background: #4e9ae0;
}
